@use "sass:map";
@use "/assets/scss/utilities/variables/size-values";
@use "/assets/scss/utilities/variables/colors";

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: map.get(size-values.$base, 6) map.get(size-values.$base, 8);
  background-color: map.get(colors.$primary, 100);
  border-radius: map.get(size-values.$radius, "md");

  &__addition {
    display: flex;
    align-items: center;

    &-icon {
      width: map.get(size-values.$base, 8);
      height: auto;

      &--large {
        width: map.get(size-values.$base, 12);
        height: auto;
      }
    }
  }

  &--green {
    background-color: map.get(colors.$lime, 100);

    & .card__addition {
      color: map.get(colors.$green, 600);
    }
  }

  &--blue {
    background-color: map.get(colors.$blue, 100);

    & .card__addition {
      color: map.get(colors.$blue, 600);
    }
  }

  &--orange {
    background-color: map.get(colors.$orange, 100);

    & .card__addition {
      color: map.get(colors.$orange, 600);
    }
  }

  &--purple {
    background-color: map.get(colors.$purple, 100);

    & .card__addition {
      color: map.get(colors.$purple, 600);
    }
  }

  &__title {
    font-size: map.get(size-values.$base, 6);
    font-weight: 500;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: map.get(size-values.$base, 7);

    font-size: map.get(size-values.$base, 7);
    font-weight: 700;
  }
}
