@use "sass:map";
@use "/assets/scss/utilities/variables/size-values";
@use "/assets/scss/utilities/variables/colors";
@use "/assets/scss/utilities/mixins/container";

.header {
  border-bottom: 1px solid map.get(colors.$stone, 200);

  &__container {
    @include container.base;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: map.get(size-values.$base, 3);
    padding-bottom: map.get(size-values.$base, 3);
  }
}
