@use "sass:map";
@use "/assets/scss/utilities/variables/size-values";
@use "/assets/scss/utilities/variables/media-queries";

.search {
  display: flex;
  align-items: center;

  &__input {
    @media (min-width: map.get(media-queries.$breakpoints, "sm")) {
      min-width: map.get(size-values.$base, 40);
    }
  }

  &__button {
    margin-left: map.get(size-values.$base, 4);
  }
}
