@use "sass:map";
@use "/assets/scss/utilities/variables/colors";

body {
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  color: map.get(colors.$dark, 950);
  background-color: map.get(colors.$light, 50);
}

:focus-visible {
  outline: solid map.get(colors.$primary, 500);
}
