@use "sass:color";
@use "sass:map";

$colors: (
  "rose": #f43f5e,
  "pink": #ec4899,
  "fuchsia": #d946ef,
  "purple": #a855f7,
  "violet": #8b5cf6,
  "indigo": #6366f1,
  "blue": #3b82f6,
  "sky": #0ea5e9,
  "cyan": #06b6d4,
  "teal": #14b8a6,
  "emerald": #10b981,
  "green": #22c55e,
  "lime": #84cc16,
  "yellow": #eab308,
  "amber": #f59e0b,
  "orange": #f97316,
  "red": #ef4444,
  "gray": #6b7280,
  "slate": #64748b,
  "zinc": #71717a,
  "neutral": #737373,
  "stone": #78716c,
);

$grades: (
  50: 90%,
  100: 80%,
  200: 60%,
  300: 40%,
  400: 20%,
  500: 0%,
  600: -20%,
  700: -40%,
  800: -60%,
  900: -70%,
  950: -80%,
);

@function get-grades($color) {
  @return (
    50: color.scale($color, $lightness: map.get($grades, 50)),
    100: color.scale($color, $lightness: map.get($grades, 100)),
    200: color.scale($color, $lightness: map.get($grades, 200)),
    300: color.scale($color, $lightness: map.get($grades, 300)),
    400: color.scale($color, $lightness: map.get($grades, 400)),
    500: color.scale($color, $lightness: map.get($grades, 500)),
    600: color.scale($color, $lightness: map.get($grades, 600)),
    700: color.scale($color, $lightness: map.get($grades, 700)),
    800: color.scale($color, $lightness: map.get($grades, 800)),
    900: color.scale($color, $lightness: map.get($grades, 900)),
    950: color.scale($color, $lightness: map.get($grades, 950))
  );
}

$rose: get-grades(map.get($colors, "rose"));
$pink: get-grades(map.get($colors, "pink"));
$fuchsia: get-grades(map.get($colors, "fuchsia"));
$purple: get-grades(map.get($colors, "purple"));
$violet: get-grades(map.get($colors, "violet"));
$indigo: get-grades(map.get($colors, "indigo"));
$blue: get-grades(map.get($colors, "blue"));
$sky: get-grades(map.get($colors, "sky"));
$cyan: get-grades(map.get($colors, "cyan"));
$teal: get-grades(map.get($colors, "teal"));
$emerald: get-grades(map.get($colors, "emerald"));
$green: get-grades(map.get($colors, "green"));
$lime: get-grades(map.get($colors, "lime"));
$yellow: get-grades(map.get($colors, "yellow"));
$amber: get-grades(map.get($colors, "amber"));
$orange: get-grades(map.get($colors, "orange"));
$red: get-grades(map.get($colors, "red"));
$gray: get-grades(map.get($colors, "gray"));
$slate: get-grades(map.get($colors, "slate"));
$zinc: get-grades(map.get($colors, "zinc"));
$neutral: get-grades(map.get($colors, "neutral"));
$stone: get-grades(map.get($colors, "stone"));

$primary: $indigo;

$light: (
  50: #fdfdfd,
  100: #fcfcfc,
  200: #fafafa,
  300: #f8f9fa,
  400: #f6f6f6,
  500: #f2f2f2,
  600: #f1f3f5,
  700: #e9ecef,
  800: #dee2e6,
  900: #dde1e3,
  950: #d8dcdf,
);
$dark: (
  50: #4a4a4a,
  100: #3c3c3c,
  200: #323232,
  300: #2d2d2d,
  400: #222,
  500: #1f1f1f,
  600: #1c1c1e,
  700: #1b1b1b,
  800: #181818,
  900: #0f0f0f,
  950: #080808,
);
