@use "sass:map";
@use "/assets/scss/utilities/variables/colors";
@use "/assets/scss/utilities/variables/size-values";
@use "/assets/scss/utilities/mixins/button/variants";
@use "/assets/scss/utilities/mixins/reset";

.button {
  @include reset.button;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;

  &--primary {
    @include variants.primary;
  }

  &--light {
    @include variants.light;
  }

  &--ghost {
    @include variants.ghost;
  }

  &--outlined {
    @include variants.outlined;
  }
  &--xs {
    padding: map.get(size-values.$base, 2) map.get(size-values.$base, 6);
    border-radius: map.get(size-values.$radius, "xs");
    font-size: map.get(size-values.$base, 6);
  }
  &--sm {
    padding: map.get(size-values.$base, 4) map.get(size-values.$base, 8);
    border-radius: map.get(size-values.$radius, "sm");
    font-size: map.get(size-values.$base, 8);
  }
  &--md {
    padding: map.get(size-values.$base, 4) map.get(size-values.$base, 8);
    border-radius: map.get(size-values.$radius, "md");
    font-size: map.get(size-values.$base, 10);
  }
  &--lg {
    padding: map.get(size-values.$base, 5) map.get(size-values.$base, 10);
    border-radius: map.get(size-values.$radius, "lg");
    font-size: map.get(size-values.$base, 12);
  }
  &--xl {
    padding: map.get(size-values.$base, 6) map.get(size-values.$base, 12);
    border-radius: map.get(size-values.$radius, "xl");
    font-size: map.get(size-values.$base, 14);
  }
}
