@use "sass:map";

@use "/assets/scss/utilities/variables/size-values";
@use "/assets/scss/utilities/mixins/full-reset";
@use "/assets/scss/utilities/mixins/button/variants";

.button {
  @include full-reset.button;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  box-sizing: border-box;

  &--primary {
    @include variants.primary;
  }

  &--light {
    @include variants.light;
  }

  &--ghost {
    @include variants.ghost;
  }

  &--outlined {
    @include variants.outlined;
  }

  &--md {
    padding: 0 map.get(size-values.$base, 4);
    border-radius: map.get(size-values.$radius, "lg");
    font-size: map.get(size-values.$base, 3.5);
    height: map.get(size-values.$base, 9);
  }
}
