@use "sass:map";
@use "/assets/scss/utilities/variables/colors";

$borderWidth: 1px;
$invisible-border: $borderWidth solid transparent;

$transition-duration: 0.15s;
$transition-background-color: background-color $transition-duration;

@mixin primary {
  color: map.get(colors.$light, 50);
  background-color: map.get(colors.$primary, 500);
  transition: $transition-background-color;
  border: $invisible-border;

  &:hover {
    background-color: map.get(colors.$primary, 400);
  }

  &:active {
    background-color: map.get(colors.$primary, 600);
  }
}

@mixin light {
  color: map.get(colors.$primary, 500);
  background-color: map.get(colors.$primary, 100);
  transition: $transition-background-color;
  border: $invisible-border;

  &:hover {
    background-color: map.get(colors.$primary, 50);
  }

  &:active {
    background-color: map.get(colors.$primary, 200);
  }
}

@mixin ghost {
  color: map.get(colors.$primary, 500);
  background-color: map.get(colors.$light, 50);
  border: $invisible-border;
  transition: $transition-background-color;

  &:hover {
    background-color: map.get(colors.$primary, 50);
  }

  &:active {
    background-color: map.get(colors.$primary, 200);
  }
}

@mixin outlined {
  color: map.get(colors.$primary, 500);
  background-color: map.get(colors.$light, 50);
  transition:
    $transition-background-color,
    border-color $transition-duration;
  border: $borderWidth solid map.get(colors.$primary, 500);

  &:hover {
    background-color: map.get(colors.$primary, 50);
  }

  &:active {
    background-color: map.get(colors.$primary, 100);
  }
}
