@use "sass:map";
@use "/assets/scss/utilities/variables/colors";

$borderWidth: 1px;
$transitionDuration: 0.15s;
$transition: background-color $transitionDuration;

@mixin invisible-border {
  border-color: transparent;
  border-style: solid;
  border-width: $borderWidth;
}

@mixin primary {
  @include invisible-border;
  color: map.get(colors.$light, 50);
  background-color: map.get(colors.$primary, 600);
  transition: $transition;

  &:hover {
    background-color: map.get(colors.$primary, 500);
  }

  &:active {
    background-color: map.get(colors.$primary, 700);
  }
}

@mixin light {
  @include invisible-border;
  color: map.get(colors.$primary, 600);
  background-color: map.get(colors.$primary, 100);
  transition: $transition;

  &:hover {
    background-color: map.get(colors.$primary, 50);
  }

  &:active {
    background-color: map.get(colors.$primary, 200);
  }
}

@mixin ghost {
  @include invisible-border;
  color: map.get(colors.$primary, 600);
  background-color: map.get(colors.$light, 50);
  transition: $transition;

  &:hover {
    background-color: map.get(colors.$primary, 50);
  }

  &:active {
    background-color: map.get(colors.$primary, 200);
  }
}

@mixin outlined {
  color: map.get(colors.$primary, 600);
  background-color: map.get(colors.$light, 50);
  transition:
    $transition,
    border-color $transitionDuration;
  border-color: map.get(colors.$primary, 600);
  border-style: solid;
  border-width: $borderWidth;

  &:hover {
    border-color: map.get(colors.$primary, 600);
    background-color: map.get(colors.$primary, 50);
  }

  &:active {
    border-color: map.get(colors.$primary, 100);
    background-color: map.get(colors.$primary, 100);
  }
}
