@use "sass:map";
@use "/assets/scss/utilities/variables/size-values";
@use "/assets/scss/utilities/mixins/reset";
@use "/assets/scss/utilities/variables/colors";
@use "/assets/scss/utilities/variables/media-queries";

.tokens {
  @include reset.list;

  display: grid;
  grid-template-columns: 1fr;
  gap: map.get(size-values.$base, 8);

  &__item {
    @include reset.list-item;

    background-color: map.get(colors.$primary, 100);
    border-radius: map.get(size-values.$radius, "md");
    transition: background-color 0.3s;

    &:hover {
      background-color: map.get(colors.$primary, 50);
    }
  }

  &__link {
    @include reset.anchor;

    cursor: pointer;
    display: flex;
    align-items: center;
    padding: map.get(size-values.$base, 4) map.get(size-values.$base, 8);
  }

  &__icon {
    width: map.get(size-values.$base, 18);
    height: auto;
  }

  &__name {
    margin-left: map.get(size-values.$base, 6);
  }

  @media (min-width: map.get(media-queries.$breakpoints, "md")) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.title {
  font-weight: 700;
  font-size: map.get(size-values.$base, 12);
}

.table {
  margin-top: map.get(size-values.$base, 12);
  border: 1px solid #e4e4e7;
  border-radius: 10px;
  overflow-x: auto;

  &__table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
    font-size: 12px;
    font-weight: 500;
    overflow-x: auto;
  }

  &__head-row {
  }
  &__head-cell {
    background-color: #e3fbcc;
    padding: 20px 0;
    text-align: left;
    min-width: 130px;

    &:first-of-type {
      border-top-left-radius: 10px;
      padding-left: 20px;
    }
    &:last-of-type {
      border-top-right-radius: 10px;
      padding-right: 20px;
    }
  }

  &__body-row {
    cursor: pointer;
    transition: background-color 0.3;
  }
  &__body-row:hover {
    background-color: #f4f7ff;
  }
  &__body-cell {
    text-align: left;
    padding: 10px 0;
    border-bottom: 1px solid #f4f4f5;

    &:first-of-type {
      padding-left: 20px;
    }
  }

  &__body-row:last-of-type {
    & .table__body-cell {
      border-bottom: none;
      padding-bottom: 20px;
    }
  }
}

.overview {
  display: flex;
  align-items: center;

  &__icon {
    width: 24px;
    height: auto;
    margin-right: 8px;
  }
  &__name {
    font-weight: 700;
  }
}
