@use "sass:map";
@use "/assets/scss/utilities/variables/colors";
@use "/assets/scss/utilities/variables/size-values";

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: map.get(size-values.$base, 10);

  &__icon {
    color: map.get(colors.$primary, 600);
    animation: rotating 0.7s infinite linear;
    width: map.get(size-values.$base, 20);
    height: auto;

    @keyframes rotating {
      to {
        transform: rotate(1turn);
      }
    }
  }
}
