@mixin unordered-list {
  display: inline;
  list-style-type: disc;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
  unicode-bidi: normal;
}

@mixin list-item {
  display: inline;
  text-align: start;
  unicode-bidi: normal;
}

@mixin horizontal-rule {
  display: inline;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  unicode-bidi: normal;
  overflow: visible;
  border: medium none currentColor;
}

@mixin anchor {
  cursor: auto;
  color: canvastext;
  text-decoration-color: currentcolor;
  text-decoration-line: none;
  text-decoration-style: solid;
  text-decoration-thickness: auto;
}

@mixin button {
  appearance: none;
  font: normal normal normal normal medium normal;
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  font-optical-sizing: auto;
  font-kerning: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  text-rendering: auto;
  color: canvastext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline;
  text-align: start;
  align-items: normal;
  cursor: auto;
  box-sizing: content-box;
  background-color: transparent;
  margin: 0;
  padding-block: 0;
  padding-inline: 0;
  border: medium none currentColor;
  border-image: none 100% 1 0 stretch;
}

@mixin input {
  appearance: none;
  font: normal normal normal normal medium normal;
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  font-optical-sizing: auto;
  font-kerning: auto;
  font-feature-settings: normal;
  font-variation-settings: normal;
  text-rendering: auto;
  color: canvastext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline;
  text-align: start;
  cursor: text;
  background-color: transparent;
  margin: 0;
  padding: 0;
  padding-block: 0;
  padding-inline: 0;
  border: medium none currentColor;
  border-image: none 100% 1 0 stretch;
}
