@use "sass:map";
@use "/assets/scss/utilities/variables/colors";
@use "/assets/scss/utilities/mixins/reset";

body {
  font-family: "Plus Jakarta Sans", ui-sans-serif, system-ui, sans-serif;
  color: map.get(colors.$dark, 950);
}

:focus-visible {
  outline: solid map.get(colors.$primary, 600);
}

a:has(button) {
  @include reset.anchor;

  user-select: none;
}
